body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:34px;
  top:18px;
  width:375px;
  height:925px;
}
#u992 {
  position:absolute;
  left:2px;
  top:454px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u993 {
  position:absolute;
  left:327px;
  top:71px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u995 {
  position:absolute;
  left:188px;
  top:111px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u997 {
  position:absolute;
  left:40px;
  top:123px;
  width:139px;
  height:1px;
}
#u998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u999 {
  position:absolute;
  left:265px;
  top:123px;
  width:139px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u1001 {
  position:absolute;
  left:1241px;
  top:146px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:2px;
}
#u1003 {
  position:absolute;
  left:1184px;
  top:178px;
  width:178px;
  height:1px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1005 {
  position:absolute;
  left:1313px;
  top:146px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:180px;
  top:144px;
  width:87px;
  height:16px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1010 {
  position:absolute;
  left:34px;
  top:898px;
  width:95px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1010_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1010.selected {
}
#u1011 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1012 {
  position:absolute;
  left:127px;
  top:898px;
  width:95px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1012_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1012.selected {
}
#u1013 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1014 {
  position:absolute;
  left:221px;
  top:898px;
  width:95px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1014_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1014.selected {
}
#u1015 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016 {
  position:absolute;
  left:314px;
  top:898px;
  width:95px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016.selected {
}
#u1017 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1018 {
  position:absolute;
  left:189px;
  top:562px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1021 {
  position:absolute;
  left:82px;
  top:610px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1023 {
  position:absolute;
  left:210px;
  top:610px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u1026 {
  position:absolute;
  left:48px;
  top:640px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u1028 {
  position:absolute;
  left:164px;
  top:640px;
  width:140px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  position:absolute;
  left:313px;
  top:626px;
  width:89px;
  height:40px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1032 {
  position:absolute;
  left:53px;
  top:674px;
  width:349px;
  height:1px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:313px;
  top:796px;
  width:89px;
  height:40px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u1037 {
  position:absolute;
  left:47px;
  top:697px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u1039 {
  position:absolute;
  left:157px;
  top:697px;
  width:211px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1041 {
  position:absolute;
  left:52px;
  top:731px;
  width:349px;
  height:1px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:47px;
  top:754px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:32px;
}
#u1046 {
  position:absolute;
  left:157px;
  top:747px;
  width:143px;
  height:32px;
  color:#000000;
  text-align:center;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1048 {
  position:absolute;
  left:52px;
  top:788px;
  width:349px;
  height:1px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u1051 {
  position:absolute;
  left:48px;
  top:808px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:32px;
}
#u1053 {
  position:absolute;
  left:159px;
  top:801px;
  width:149px;
  height:32px;
  color:#000000;
  text-align:center;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u1055 {
  position:absolute;
  left:53px;
  top:842px;
  width:349px;
  height:1px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u1057 {
  position:absolute;
  left:52px;
  top:590px;
  width:350px;
  height:1px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u1059 {
  position:absolute;
  left:34px;
  top:17px;
  width:375px;
  height:48px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:264px;
}
#u1063 {
  position:absolute;
  left:86px;
  top:221px;
  width:264px;
  height:264px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:124px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1065 {
  position:absolute;
  left:178px;
  top:190px;
  width:75px;
  height:75px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1067 {
  position:absolute;
  left:270px;
  top:228px;
  width:75px;
  height:75px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1069 {
  position:absolute;
  left:314px;
  top:316px;
  width:75px;
  height:75px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1071 {
  position:absolute;
  left:83px;
  top:224px;
  width:75px;
  height:75px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1073 {
  position:absolute;
  left:52px;
  top:316px;
  width:75px;
  height:75px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1075 {
  position:absolute;
  left:267px;
  top:405px;
  width:75px;
  height:75px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1077 {
  position:absolute;
  left:90px;
  top:408px;
  width:75px;
  height:75px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u1079 {
  position:absolute;
  left:178px;
  top:442px;
  width:75px;
  height:75px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u1081 {
  position:absolute;
  left:164px;
  top:305px;
  width:102px;
  height:102px;
  font-size:20px;
  color:#FFFFFF;
}
#u1082 {
  position:absolute;
  left:2px;
  top:39px;
  width:98px;
  word-wrap:break-word;
}
