body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:656px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1703px;
}
#u592 {
  position:absolute;
  left:-172px;
  top:101px;
  width:1000px;
  height:1703px;
}
#u593 {
  position:absolute;
  left:2px;
  top:844px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u594 {
  position:absolute;
  left:137px;
  top:11px;
  width:607px;
  height:90px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  word-wrap:break-word;
}
