body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:768px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:768px;
}
#u69 {
  position:absolute;
  left:2px;
  top:376px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:768px;
}
#u71 {
  position:absolute;
  left:2px;
  top:376px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:80px;
}
#u72 {
  position:absolute;
  left:22px;
  top:271px;
  width:52px;
  height:80px;
}
#u73 {
  position:absolute;
  left:2px;
  top:32px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u74 {
  position:absolute;
  left:1071px;
  top:16px;
  width:145px;
  height:16px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u76 {
  position:absolute;
  left:1245px;
  top:16px;
  width:57px;
  height:16px;
  color:#FF9900;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:70px;
}
#u78 {
  position:absolute;
  left:1122px;
  top:688px;
  width:195px;
  height:70px;
}
#u79 {
  position:absolute;
  left:2px;
  top:27px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:61px;
}
#u81 {
  position:absolute;
  left:568px;
  top:689px;
  width:2px;
  height:58px;
}
#u82 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:579px;
  top:690px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9900;
}
#u85 {
  position:absolute;
  left:577px;
  top:722px;
  width:74px;
  height:22px;
  font-size:18px;
  color:#FF9900;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:678px;
  top:692px;
  width:177px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u89_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:61px;
}
#u89 {
  position:absolute;
  left:914px;
  top:689px;
  width:2px;
  height:58px;
}
#u90 {
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:925px;
  top:690px;
  width:47px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9900;
}
#u93 {
  position:absolute;
  left:923px;
  top:722px;
  width:48px;
  height:22px;
  font-size:18px;
  color:#FF9900;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:1002px;
  top:702px;
  width:57px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:323px;
}
#u97 {
  position:absolute;
  left:204px;
  top:837px;
  width:717px;
  height:323px;
}
#u98 {
  position:absolute;
  left:2px;
  top:154px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:33px;
}
#u99 {
  position:absolute;
  left:284px;
  top:177px;
  width:753px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:524px;
  top:298px;
  width:38px;
  height:48px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:562px;
  top:304px;
  width:193px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u105_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:437px;
}
#u105p000 {
  position:absolute;
  left:-209px;
  top:207px;
  width:420px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u105p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:440px;
  height:24px;
}
#u105p001 {
  position:absolute;
  left:-9px;
  top:-7px;
  width:20px;
  height:20px;
}
#u105p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:40px;
}
#u105p002 {
  position:absolute;
  left:-9px;
  top:404px;
  width:20px;
  height:20px;
}
#u105p002_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:40px;
  height:42px;
}
#u105.compound {
  width:0px;
  height:0px;
}
#u105 {
  position:absolute;
  left:511px;
  top:461px;
  width:2px;
  height:417px;
}
#u106 {
  position:absolute;
  left:2px;
  top:200px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:899px;
  top:1013px;
  width:36px;
  height:116px;
}
#u108 {
  position:absolute;
  left:2px;
  top:34px;
  width:32px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u109 {
  position:absolute;
  left:884px;
  top:838px;
  width:40px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:102px;
}
#u111 {
  position:absolute;
  left:249px;
  top:1015px;
  width:99px;
  height:101px;
}
#u112 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:267px;
  top:1118px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:490px;
  top:409px;
  width:299px;
  height:67px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:2px;
  top:9px;
  width:295px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:228px;
  top:1144px;
  width:669px;
  height:76px;
}
#u118 {
  position:absolute;
  left:2px;
  top:30px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:60px;
}
#u119 {
  position:absolute;
  left:240px;
  top:1152px;
  width:646px;
  height:60px;
  line-height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:584px;
  top:486px;
  width:101px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u123_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:137px;
  height:22px;
}
#u123p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:119px;
  height:2px;
}
#u123p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:140px;
  height:24px;
}
#u123p001 {
  position:absolute;
  left:-7px;
  top:-9px;
  width:20px;
  height:20px;
}
#u123p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:40px;
}
#u123p002 {
  position:absolute;
  left:103px;
  top:-9px;
  width:20px;
  height:20px;
}
#u123p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:40px;
  height:40px;
}
#u123.compound {
  width:0px;
  height:0px;
}
#u123 {
  position:absolute;
  left:145px;
  top:1083px;
  width:117px;
  height:2px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:54px;
  top:1056px;
  width:84px;
  height:64px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:528px;
  top:787px;
  width:173px;
  height:48px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
