body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2933px;
}
#u1187 {
  position:absolute;
  left:18px;
  top:174px;
  width:1440px;
  height:2933px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:1458px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:43px;
  background:inherit;
  background-color:rgba(239, 234, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  position:absolute;
  left:260px;
  top:1785px;
  width:205px;
  height:43px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:14px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:43px;
  background:inherit;
  background-color:rgba(239, 234, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:945px;
  top:1773px;
  width:278px;
  height:43px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:14px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:75px;
  background:inherit;
  background-color:rgba(239, 234, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  position:absolute;
  left:180px;
  top:2908px;
  width:378px;
  height:75px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:30px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:520px;
  background:inherit;
  background-color:rgba(38, 36, 73, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:800px;
  top:2568px;
  width:575px;
  height:520px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:252px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
